.todo {
    width: 100%;
    border-radius: 5px;
    background-color: skyblue;
    height: auto;
    padding: 7px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.todo h1 {
    font-size: large;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
}

.todo p {
    font-size: small;
    font-weight: 300;
}

.btn {
    margin-right: 18px;
    font-weight: 500;
    margin-top: 5px;
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.btn h1 {
    color: white;
    text-align: center;
    margin-top: 15px;
}